<header class="page-header">
    <h1 class="page-title">Home</h1>
    <div class="breadcrumb-container">
        <ul class="breadcrumb">
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">Level 2</a>
            </li>
            <li class="active">
                <span>Level 3</span>
            </li>
        </ul>
    </div>
</header>
<section class="main-content home">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-body">
                    <h1>Welcome to eMCS - eCoupon System</h1>
                    <p>Here is a sample introduction paragraph.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="panel success">
                <div class="panel-body">
                    <i class="icon-users panel-badge"></i>
                    <h1 class="amount">1,500</h1>
                    <h2 class="label">Students</h2>
                    <a href="#/students">Go to Students <i class="icon-arrow-right2"></i></a>
                </div>
            </div>
        </div>
        <!--<div class="col-sm-3">
            <div class="panel blue">
                <div class="panel-body">
                    <h1>Welcome to eMCS - eCoupon System</h1>
                </div>
            </div>
        </div>-->
        
    </div>

</section>
