<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="IOS.KIOSK.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="IOS.KIOSK.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
 
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="SmtpAppender" />
      <appender-ref ref="LogFileAppender" />
      <appender-ref ref="ErrorsFileAppender" />
      <appender-ref ref="ColoredConsoleAppender" />
    </root>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="C:\Users\PODKiosk2\Desktop\ApplicationLogs\" />
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Date" />
      <datePattern value="'KioskApplicationLog'yyyyMMdd'.txt'" />
      <maxSizeRollBackups value="100" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger: %message%newline" />
      </layout>
    </appender>
    <appender name="ErrorsFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="C:\Users\PODKiosk2\Desktop\ApplicationLogs\" />
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Date" />
      <datePattern value="'KioskApplicationErrorLog'yyyyMMdd'.txt'" />
      <maxSizeRollBackups value="100" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger: %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR" />
        <levelMax value="FATAL" />
      </filter>
    </appender>
    <appender name="ColoredConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <mapping>
        <level value="WARN"/>
        <foreColor value="Yellow"/>
      </mapping>
      <mapping>
        <level value="ERROR"/>
        <foreColor value="Red"/>
      </mapping>
      <mapping>
        <level value="FATAL"/>
        <foreColor value="White"/>
        <backColor value="Red" />
      </mapping>
      <mapping>
        <level value="INFO"/>
        <foreColor value="Cyan"/>
      </mapping>
      <mapping>
        <level value="DEBUG"/>
        <foreColor value="Green"/>
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger: %message%newline" />
      </layout>
    </appender>
    <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
      <to value="Indika.Priyan@ionesoftsolutions.com,Karlene@ionesoftsolutions.com" />
      <from value="info@thepod.sg" />
      <subject value="ThePODKiosk2 - Notification" />
      <smtpHost value="mail.thepod.sg" />
      <port value="25"/>
      <authentication value="Basic" />
      <username value="info@thepod.sg"/>
      <password value="Thepod289"/>
      <bufferSize value="512" />
      <lossy value="true" />
  
      <evaluator type="log4net.Core.LevelEvaluator">
        <threshold value="FATAL" />
      </evaluator>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date%newline%newline %message%newline" />
      </layout>     
    </appender>
  </log4net>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <IOS.KIOSK.Properties.Settings>
      <setting name="enGB_Culture" serializeAs="String">
        <value>en-GB</value>
      </setting>
      <setting name="frFR_Culture" serializeAs="String">
        <value>fr-FR</value>
      </setting>
    </IOS.KIOSK.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <IOS.KIOSK.UI.Properties.Settings>
      <setting name="enGB_Culture" serializeAs="String">
        <value>en-GB</value>
      </setting>
      <!-- APPLICATION General Settings -->
      <setting name="AdapterName" serializeAs="String">
        <value>ProtelAdapter</value>
      </setting>
      <setting name="EnableTestKioskMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TestAdapterMode" serializeAs="String">
        <value>False</value>
      </setting>

      <setting name="AutoRunSlideShowTime" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="IdleConfirmationLastingTime" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="KeyCardDispenseWaitingTime" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="ScreenAutoTimeOut" serializeAs="String">
        <value>10</value>
      </setting>

      <!-- APPLICATION Image Settings -->
      <setting name="ImagePath" serializeAs="String">
        <value>C:\Users\PODKiosk2\Desktop\ThePODKiosk\Images</value>
      </setting>
	  
      <setting name="ApplicationStatisticLogPath" serializeAs="String">
        <value>C:\Users\PODKiosk2\Desktop\StatLogs||\\POD-HV-SVR\Shared Data\KIOSK DATA\KIOSK2\StatLogs</value>
      </setting>
      <!--
	  <setting name="DBSApiLogPath" serializeAs="String">
        <value>C:\Users\PODKiosk2\Desktop\DBSAPILog</value>
      </setting>
      <setting name="DBSTransactionLogPath" serializeAs="String">
        <value>C:\Users\PODKiosk2\Desktop\DBSTRANSLog||\\POD-HV-SVR\Shared Data\KIOSK DATA\KIOSK2\DBSTRANSLog</value>
      </setting>-->


      <!-- APPLICATION Device Settings -->
      <setting name="CreditCardReaderPort" serializeAs="String">
        <value>COM6</value>
      </setting>
      <setting name="CreditCardReaderBaudRate" serializeAs="String">
        <value>115200</value>
      </setting>
      <setting name="CreditCardReaderReceiveInterval" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="CreditCardReaderWaitTimeOut" serializeAs="String">
        <value>90000</value>
      </setting>

      <setting name="KeyCardDispenserPort" serializeAs="String">
        <value>COM3</value>
      </setting>
      <setting name="KeyCardDispenserBaudRate" serializeAs="String">
        <value>9600</value>
      </setting>

      <!-- APPLICATION All Videos Settings -->
      <setting name="ScanQRVideoPath" serializeAs="String">
        <value>C:\Users\PODKiosk2\Desktop\ThePODKiosk\Videos\ScanQRCode.wmv</value>
      </setting>
      <setting name="ScanPassportVideoPath" serializeAs="String">
        <value>C:\Users\PODKiosk2\Desktop\ThePODKiosk\Videos\ScanPassport.mp4</value>
      </setting>
      <setting name="CollectPassportVideoPath" serializeAs="String">
        <value>C:\Users\PODKiosk2\Desktop\ThePODKiosk\Videos\CollectPassport.mp4</value>
      </setting>
      <setting name="InsertCreditCardVideoPath" serializeAs="String">
        <value>C:\Users\PODKiosk2\Desktop\ThePODKiosk\Videos\InsertCreditCard.mp4</value>
      </setting>
      <setting name="CollectCreditCardVideoPath" serializeAs="String">
        <value>C:\Users\PODKiosk2\Desktop\ThePODKiosk\Videos\CollectCreditCard.mp4</value>
      </setting>
      <setting name="EnterPinVideoPath" serializeAs="String">
        <value>C:\Users\PODKiosk2\Desktop\ThePODKiosk\Videos\EnterCreditCardPin.mp4</value>
      </setting>
      <setting name="EncodeKeyCardVideoPath" serializeAs="String">
        <value>C:\Users\PODKiosk2\Desktop\ThePODKiosk\waitingforkeyencode.wmv</value>
      </setting>
      <setting name="CollectKeyCardVideoPath" serializeAs="String">
        <value>C:\Users\PODKiosk2\Desktop\ThePODKiosk\Videos\CollectKeyCard.mp4</value>
      </setting>
      <setting name="CollectWelcomeNoteVideoPath" serializeAs="String">
        <value>C:\Users\PODKiosk2\Desktop\ThePODKiosk\Videos\CollectWelcomeNote.mp4</value>
      </setting>
      <setting name="InsertKeyCardVideoPath" serializeAs="String">
        <value>C:\Users\PODKiosk2\Desktop\ThePODKiosk\Videos\InsertKeyCard.mp4</value>
      </setting>


      <!-- APPLICATION Hotel Settings -->
      <setting name="AllowNextDayCheckIn" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OfficialCheckInTime" serializeAs="String">
        <value>3 PM</value>
      </setting>
      <setting name="OfficialCheckOutTime" serializeAs="String">
        <value>11:00</value>
      </setting>
      <setting name="CheckInStartTime" serializeAs="String">
        <value>00:30</value>
      </setting>
      <setting name="CheckInEndTime" serializeAs="String">
        <value>23:30</value>
      </setting>
      <setting name="AllowableBedCount" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="IsCheckAllGuests" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WifiPassword" serializeAs="String">
        <value>289BeachRd</value>
      </setting>
      <setting name="HotelManagerName" serializeAs="String">
        <value>The Management</value>
      </setting>
      <setting name="HotelName" serializeAs="String">
        <value>THE POD PTE LTD</value>
      </setting>
      <setting name="HotelAddress" serializeAs="String">
        <value>289 BEACH ROAD,#03 - 01,SINGAPORE 199552</value>
      </setting>
      <setting name="PaymentReceiptsMCPath" serializeAs="String">
        <value>C:\Users\PODKiosk2\Desktop\PaymentReceipts||\\POD-HV-SVR\Shared Data\KIOSK DATA\KIOSK2\PaymentReceipts</value>
      </setting>
      <setting name="GuestArrivalFormPath" serializeAs="String">
        <value>C:\Users\PODKiosk2\Desktop\GuestArrivalForms||\\POD-HV-SVR\Shared Data\KIOSK DATA\KIOSK2\GuestArrivalForm</value>
      </setting>
      <setting name="GuestInvoicesPath" serializeAs="String">
        <value>C:\Users\PODKiosk2\Desktop\GuestInvoices||\\POD-HV-SVR\Shared Data\KIOSK DATA\KIOSK2\GuestInvoice</value>
      </setting>
      <setting name="DocumentScannedImagePath" serializeAs="String">
        <value>C:\Users\PODKiosk2\Desktop\KioskGuestData||\\POD-HV-SVR\Shared Data\KIOSK DATA\KIOSK2\GuestData</value>
      </setting>

      <!-- APPLICATION Service Settings -->
      <setting name="HotelID" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="HotelChainID" serializeAs="String">
        <value>POD</value>
      </setting>
      <setting name="KioskID" serializeAs="String">
        <value>ThePODKiosk2</value>
      </setting>
      <setting name="ServiceUrl" serializeAs="String">
        <value>http://192.168.1.1:5434/ProcessPikaRequest</value>
      </setting>
      <setting name="UserName" serializeAs="String">
        <value>THEPOD</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>289BR</value>
      </setting>
      <setting name="ServiceCallsLogPath" serializeAs="String">
        <value>C:\Users\PODKiosk2\Desktop\ProtelServiceCallLog</value>
      </setting>    

	   <!-- APPLICATION Saflok Settings -->
      <setting name="SaflokServerIP" serializeAs="String">
        <value>192.168.1.4</value>
      </setting>
      <setting name="SaflokServerPort" serializeAs="String">
        <value>8264</value>
      </setting>
      <setting name="SaflokPassword" serializeAs="String">
        <value>12345</value>
      </setting>
      <setting name="KeyExpirationTime" serializeAs="String">
        <value>14:00</value>
      </setting>
      <setting name="EncoderNumber" serializeAs="String">
        <value>04</value>
      </setting>
      <setting name="PMSTerminalNumber" serializeAs="String">
        <value>002</value>
      </setting>

      <!-- APPLICATION EMAIL Settings -->
      <setting name="SMTPServer" serializeAs="String">
        <value>mail.thepod.sg</value>
      </setting>
      <setting name="SMTPPort" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="SMTPUserName" serializeAs="String">
        <value>info@thepod.sg</value>
      </setting>
      <setting name="SMTPPassword" serializeAs="String">
        <value>Thepod289</value>
      </setting>
      <setting name="FromEmail" serializeAs="String">
        <value>info@thepod.sg</value>
      </setting>
      <setting name="BCCEmailsInvoices" serializeAs="String">
        <value>Indika.Priyan@ionesoftsolutions.com,Karlene@ionesoftsolutions.com</value>
      </setting>
      <setting name="ToNotificationEmail" serializeAs="String">
        <value>Indika.Priyan@ionesoftsolutions.com,Karlene@ionesoftsolutions.com</value>
      </setting>
      <setting name="CCEmailsNotifications" serializeAs="String">
        <value />
      </setting>
      <setting name="FailScannedToEmails" serializeAs="String">
        <value>Indika.Priyan@ionesoftsolutions.com,Karlene@ionesoftsolutions.com</value>
      </setting>     

    </IOS.KIOSK.UI.Properties.Settings>
  </applicationSettings>
  <appSettings>
	<add key="SaflokApiLogPath" value="C:\Users\PODKiosk2\Desktop\SaflokApiLog"/>
	<add key="DBSApiLogPath" value="C:\Users\PODKiosk2\Desktop\DBSAPILog"/>
	<add key="DBSTransactionLogPath" value="C:\Users\PODKiosk2\Desktop\DBSTRANSLog||\\POD-HV-SVR\Shared Data\KIOSK DATA\KIOSK2\DBSTRANSLog"/>
  </appSettings>
  <runtime>
    <!-- WARNING: will load assemblies from remote locations as fully trusted! -->
    <loadFromRemoteSources enabled="true" />
    <startup useLegacyV2RuntimeActivationPolicy="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
