<header class="page-header">
    <h1 class="page-title">Machine Status</h1>
    <div class="breadcrumb-container">
        <ul class="breadcrumb">
            <li>
                <a href="#">Home</a>
            </li>
            <li class="active">
                <span>Admin</span>
            </li>
        </ul>
    </div>
</header>
<section class="main-content">
    <div class="legend">
        <label class="legend-label">Filter</label>

        <span class="status-filter-op">
            <label class="status-filter-input">
                <label class="radio-btn">
                    <input type="radio" name="a" />
                    <span class="radio-btn-inner"></span>
                </label>
            </label>
            <label class="status-filter-lbl">Working</label>
            <label class="status-filter-count">3</label>
        </span>

        <span class="status-filter-op">
            <label class="status-filter-input">
                <label class="radio-btn">
                    <input type="radio" name="a" />
                    <span class="radio-btn-inner"></span>
                </label>
            </label>
            <label class="status-filter-lbl">Working</label>
            <label class="status-filter-count">3</label>
        </span>

    </div>

    <div class="legend">
        <label class="legend-label">Machine Instances</label>

        <div class="pnl machine-inst">
            <div class="pnl-head">
                <h4 class="pnl-heading">Kiosk01</h4>
                <span class="machine-st-ind on">

                </span>
            </div>
            <div class="pnl-body">
                <span class="data-set">
                    <span class="data-lbl">
                        <i class="icon-clock icon-sm"></i> Last response time
                    </span>
                    <span class="data-dt">29/08/2016 5:50:25PM</span>
                </span>
            </div>
        </div>

        <div class="pnl machine-inst">
            <div class="pnl-head">
                <h4 class="pnl-heading">Kiosk02</h4>
                <span class="machine-st-ind off">

                </span>
            </div>
            <div class="pnl-body">
                <span class="data-set">
                    <span class="data-lbl">
                        <i class="icon-clock icon-sm"></i> Last response time
                    </span>
                    <span class="data-dt">28/08/2016 6:50:25PM</span>
                </span>
            </div>
        </div>
    </div>
</section>
