<header class="page-header">
    <h1 class="page-title">Machine Status</h1>
    <div class="breadcrumb-container">
        <ul class="breadcrumb">
            <li>
                <a href="#">Home</a>
            </li>
            <li class="active">
                <span>Admin</span>
            </li>
        </ul>
    </div>
</header>
<section class="main-content invert">
    <div class="machine-settings">
        <div class="row">
            <div class="col-md-6">
                <div class="collapsible-pnl">
                    <div class="pnl-head">
                        <h4 class="pnl-heading">
                            <i class="icon-display"></i> App Settings
                        </h4>
                        <button type="button" class="collapse-btn" ng-click="isCollapsed = !isCollapsed">
                            <i class="icon-circle-up"></i>
                            <i class="icon-circle-down"></i>
                        </button>
                    </div>
                    <div class="pnl-body" uib-collapse="isCollapsed">
                        <span class="data-set view-mode">
                            <span class="data-lbl">Auto Run Slideshow Time</span>
                            <span class="data-dt">
                                <span class="lbl">2min</span>
                                <input type="text" class="form-control" value="2min"/>
                                <a href="#" class="edit-btn">
                                    <i class="icon-pencil"></i>
                                </a>
                                <a href="#" class="save-btn">
                                    <i class="icon-checkmark"></i>
                                </a>
                            </span>
                        </span>

                        <span class="data-set view-mode">
                            <span class="data-lbl">Idle Confirmation Lasting Time</span>
                            <span class="data-dt">
                                <span class="lbl">08:50AM</span>
                                <input type="text" class="form-control" value="08:50AM" />
                                <a href="#" class="edit-btn">
                                    <i class="icon-pencil"></i>
                                </a>
                                <a href="#" class="save-btn">
                                    <i class="icon-checkmark"></i>
                                </a>
                            </span>
                        </span>

                        <span class="data-set view-mode">
                            <span class="data-lbl">Screen Auto TimeOut</span>
                            <span class="data-dt">
                                <span class="lbl">5min</span>
                                <input type="text" class="form-control" value="5min" />
                                <a href="#" class="edit-btn">
                                    <i class="icon-pencil"></i>
                                </a>
                                <a href="#" class="save-btn">
                                    <i class="icon-checkmark"></i>
                                </a>
                            </span>
                        </span>

                        <span class="data-set view-mode">
                            <span class="data-lbl">Application Statistic Log Path</span>
                            <span class="data-dt">
                                <span class="lbl">C:\WORK_DIR\IOS.D2S\D2S\IOS.D2S</span>
                                <input type="text" class="form-control" value="C:\WORK_DIR\IOS.D2S\D2S\IOS.D2S" />
                                <a href="#" class="edit-btn">
                                    <i class="icon-pencil"></i>
                                </a>
                                <a href="#" class="save-btn">
                                    <i class="icon-checkmark"></i>
                                </a>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="collapsible-pnl">
                    <div class="pnl-head">
                        <h4 class="pnl-heading">
                            <i class="icon-film"></i> Video Settings
                        </h4>
                        <button type="button" class="collapse-btn" ng-click="isCollapsed = !isCollapsed">
                            <i class="icon-circle-up"></i>
                            <i class="icon-circle-down"></i>
                        </button>
                    </div>
                    <div class="pnl-body" uib-collapse="isCollapsed">
                        <span class="data-set view-mode">
                            <span class="data-lbl">Auto Run Slideshow Time</span>
                            <span class="data-dt">
                                <span class="lbl">2min</span>
                                <input type="text" class="form-control" value="2min" />
                                <a href="#" class="edit-btn">
                                    <i class="icon-pencil"></i>
                                </a>
                                <a href="#" class="save-btn">
                                    <i class="icon-checkmark"></i>
                                </a>
                            </span>
                        </span>

                        <span class="data-set view-mode">
                            <span class="data-lbl">Idle Confirmation Lasting Time</span>
                            <span class="data-dt">
                                <span class="lbl">08:50AM</span>
                                <input type="text" class="form-control" value="08:50AM" />
                                <a href="#" class="edit-btn">
                                    <i class="icon-pencil"></i>
                                </a>
                                <a href="#" class="save-btn">
                                    <i class="icon-checkmark"></i>
                                </a>
                            </span>
                        </span>

                        <span class="data-set view-mode">
                            <span class="data-lbl">Screen Auto TimeOut</span>
                            <span class="data-dt">
                                <span class="lbl">5min</span>
                                <input type="text" class="form-control" value="5min" />
                                <a href="#" class="edit-btn">
                                    <i class="icon-pencil"></i>
                                </a>
                                <a href="#" class="save-btn">
                                    <i class="icon-checkmark"></i>
                                </a>
                            </span>
                        </span>

                        <span class="data-set view-mode">
                            <span class="data-lbl">Application Statistic Log Path</span>
                            <span class="data-dt">
                                <span class="lbl">C:\WORK_DIR\IOS.D2S\D2S\IOS.D2S</span>
                                <input type="text" class="form-control" value="C:\WORK_DIR\IOS.D2S\D2S\IOS.D2S" />
                                <a href="#" class="edit-btn">
                                    <i class="icon-pencil"></i>
                                </a>
                                <a href="#" class="save-btn">
                                    <i class="icon-checkmark"></i>
                                </a>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>